.music {
  display: none;
  width: 250px;
  flex-wrap: wrap;
  /* height: 50px; */
  /* margin-top: 20px; */
  /* margin-bottom: 30px; */
  /* justify-content: center; */
  /* align-items: center; */
}


.center-btn {
  display: flex;
  margin-left: 140px;
}

.right-btn {
  display: flex;
  margin-left: 50px;
}

#previous {
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: #414141;
  color: greenyellow;
  font-size: 10px;
  cursor: pointer;
  outline: none;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle;
}

#play-btn {
  height: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle;
}

#stop-btn {
  height: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle;
}

#next {
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: #414141;
  color: greenyellow;
  font-size: 10px;
  cursor: pointer;
  outline: none;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle;
}

#play-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: #414141;
  color: greenyellow;
  font-size: 10px;
  cursor: pointer;
  outline: none;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle;
}

#volume {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle;
}

.slider {
  height: 20px;
  width: 80px;
}

#popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.50);
  display: none;
}

#popup-container {
  position: relative;
  width: 90%;
  max-width: 800px;
  margin: 4em auto;
  background: #FFF;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

#popup-container .song {
  display: block;
  font-size: 20px;
  color: #797979;
  margin-bottom: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#popup-container #close-btn {
  display: block;
  background: #000080;
  border-radius: 100px;
  color: white;
  padding: 10px 68px;
  cursor: pointer;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
}

.music-flexbox1 {
  width: 100%;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.music-flexbox2 {
  width: 100%;
  display: inline-flex;
  margin-left: 50px;
  /* height: 50px; */
  /* justify-content: center; */
  /* align-items: center; */
}

.marquee {
  height: 15px;
  width: 420px;

  overflow: hidden;
  position: relative;
}

.marquee div {
  display: block;
  width: 200%;
  height: 30px;

  position: absolute;
  overflow: hidden;

  animation: marquee 10s linear infinite;
}

.marquee span {
  color: white;
  float: left;
  width: 50%;
}


@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}