.hide-clock {
  display: flex;
  justify-content: flex-end;
  width: 550px;
  height: 250px;
  padding: 0px 30px;
}


/* navibar act */
.hide-clock.change {
  display: none;
  justify-content: flex-end;
  width: 550px;
  height: 250px;
  padding: 0px 30px;
}
/*  */


.js-hide-clock {
  display: none;
}

h1 {
  font-family: "Recursive", sans-serif;
  padding: 20px;
  color: white;
  font-size: 100px;
  animation: AnmenuUp 1s ease-in-out;
}
