.member__box {
  display: none;
  justify-content: space-between;
  top: 280px;
  z-index: -1;
  width: 50%;
}

.member__img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.member__box__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member__box__name {
  color: white;
  font-size: 30px;
}
.name-blank {
  margin-top: 20px;
}

.showing__up {
  animation: showingUp 1s ease-in-out;
}

@keyframes showingUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
