.js-listener-first {
  width: 100%;
  height: 200px;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 200px;
  width: 100%;
  height: 200vh;
}
/* -----▼▼ PHOTO-SLIDE ▼▼----- */
.mySlides {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.js-photoSlide {
  width: 100%;
}
