.menu__btn {
  color: white;
  font-size: 70px;
}
.menu__btn:hover {
  color: rgb(253, 186, 61);
}

.header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 20px;
  margin: 20px;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 550px;
  height: 250px;
  padding: 0px 30px;
}
.js-menu {
  display: none;
}
.menu__btn {
  outline: inherit;
  cursor: pointer;
  background: none;
  border: none;
}
.hide-clock {
  display: none;
}

.js-hide-clock {
  display: flex;
  width: 550px;
  height: 250px;
  padding: 0px 30px;
}

#member__img {
  width: 500px;
  height: 500px;
  border-radius: 10px;
}

.member__box {
  display: flex;
  justify-content: space-between;
  opacity: 0;
  position: absolute;
  top: 500px;
  z-index: -1;
  width: 50%;
}
.member__box.active {
  opacity: 1;
  z-index: 100;
}

.ico-gooc img {
  margin-top: 20px;
  width: 100px;
  height: 100px;
}
.ico-gooc {
  margin: 20px 40px;
  transition: transform 0.5s ease-in-out;
}
.ico-gooc:hover {
  transform: translateY(-10px);
}
.xbox {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 20px;
  cursor: pointer;
  overflow: visible;
}
.xbox-click {
  width: 65px;
  height: 65px;
}
.xbox__rect {
  stroke: white;
  stroke-width: 3px;
  transform: translateX(0) translateY(0) rotate(0);
  transition: all 0.5s ease-in-out;
}

.changes-top {
  transform: translateX(60px) translateY(0) rotate(135deg);
}

.changes-bot {
  transform: translateY(-10px) translateX(25px) rotate(45deg);
}
