
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@ HEADER & MENU NAV @@@@@@@@@@@@*/
.header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 20px;
  margin: 20px;
}
.menu {
  display: none;
}
.js-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 550px;
  height: 200px;
  padding: 50px;
}
@keyframes AnmenuUp {
  0% {
    color: #101010;
  }
  50% {
    color: #101010;
  }
  100% {
    color: white;
  }
}
.menu__btn {
  color: white;
  font-size: 70px;
  transition: color 0.3s ease-in-out;
  outline: inherit;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 50px;
}
.what {
  animation: AnmenuUp 1s ease-in-out;
}
.members {
  animation: AnmenuUp 1.2s ease-in-out;
}
.career {
  animation: AnmenuUp 1.4s ease-in-out;
}



.what :hover {
  color: rgb(253, 186, 61);
}

.menu__btn:hover {
  color: rgb(253, 186, 61);
}


.ico-md-1,
.ico-md-2 {
  width: 130px;
  height: 130px;
  transition: all 0.5s ease-in-out;
  transition-delay: 0.4s;
}
.ico-gooc {
  margin: 20px 40px;
  display: flex;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
}
.ico-gooc:hover {
  transform: translateY(-10px);
}

.ico-gooc__column {
  display: flex;
}
.js-ico-md {
  width: 100px;
  height: 100px;
  transition-delay: 0.8s;
}

.titleName {
  font-family: "Recursive", sans-serif;
  color: white;
  font-size: 60px;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  transition: all 0.5s ease-in-out;
}
.js-titleName {
  margin-left: 20px;
}
.titleName::after {
  font-family: "Recursive", sans-serif;
  content: "Virtual World \A Architects Group";
  white-space: pre;
  color: gray;
  font-size: 15px;
  margin-left: 5px;
}

.xbox {
  position: absolute;
  right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 20px;
  cursor: pointer;
  overflow: visible;
}
.xbox-click {
  width: 65px;
  height: 65px;
}
.xbox__rect {
  stroke: white;
  stroke-width: 3px;
  transform: translateX(0) translateY(0) rotate(0);
  transition: all 0.5s ease-in-out;
}

.changes-top {
  transform: translateX(60px) translateY(0) rotate(135deg);
}

.changes-bot {
  transform: translateY(-10px) translateX(25px) rotate(45deg);
}

 /* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/*@@@@@@@@@@@@@@ MEMBER__BOX & IMAGE @@@@@@@@@@@@@@@@@ */
.member__box {
  display: flex;
  justify-content: space-between;
  opacity: 0;
  top: 280px;
  z-index: -1;
  width: 50%;
}

.member__img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}



.showing1{
  animation: showing 1.5s ease-in-out;
  animation-fill-mode: forwards;
}
.showing2{
  animation: showing 3s ease-in-out;
  animation-fill-mode: forwards;
}
.showing3{
  animation: showing 4.5s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes showing {
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.member__box__box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.member__box__box2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.member__box__box3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member__box__name {
  color: white;
  font-size: 30px;
}
.name-blank{
  margin-top: 20px;
}

.member__box.active {
  opacity: 1;
  z-index: 100;
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/*@@@@@@@@@@@@@@@@@@@@ WHAT__BOX @@@@@@@@@@@@@@@@@@@@ */

