/* -----▼▼ HEADER ▼▼----- */
/* HEADER default ▼ */
.header {
  width: 100%;
  height: 150px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0px;
  z-index: 10;
  transition: padding 1s ease-in-out;
  padding: 40px 0;
  background-color: #101010;
  transition: height 0.5s ease-in-out;
}

/* scroll HEADER ▼ */
.js-scroll-header {
  height: 100px;
  padding: 0;
  background-color: #101010;
}

/* -----▼▼ TITLE ▼▼----- */
/* TITLE default ▼ */
.titleName {
  font-family: "Recursive", sans-serif;
  color: white;
  font-size: 60px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  transition: all 0.5s ease-in-out;
}

/* scroll TITLE ▼ */
.js-scroll-titleName {
  font-size: 40px;
  margin-left: 20px;
}

/* TITLE p default ▼ */
.titleName::after {
  font-family: "Recursive", sans-serif;
  content: "Virtual World \A Architects Group";
  white-space: pre;
  color: gray;
  font-size: 15px;
  margin-left: 5px;
  transition: all 0.5s ease-in-out;
}

/* scroll p ▼ */
.js-scroll-titleName::after {
  font-size: 10px;
}

/* -----▼▼ TITLE-ICON ▼▼----- */
/* TITLE-ICON default ▼ */
.ico-music {
  display: block;
}

.ico-gooc {
  height: 100px;
  margin: 20px 40px;
  display: flex;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
}
.ico-gooc:hover {
  transform: translateY(-10px);
}
.ico-gooc__column {
  display: flex;
}
.ico-md-1,
.ico-md-2 {
  width: 100px;
  height: 100px;
  transition: all 0.5s ease-in-out;
  /* transition-delay: 0.4s; */
}

/* clicked NAV-MAIN-BTN => TITLE-ICON ▼ */
.js-ico-md {
  width: 95px;
  height: 95px;
  /*   transition-delay: 0.8s; */
}

/* scroll Musicplayer ▼ */
.js-scroll-music {
  margin-top: -20px;
}

.js-scroll-ico-gooc {
  height: 80px;
  margin: 20px 40px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
}

/* scroll TITLE-ICON ▼ */
.js-scroll-ico-md-1,
.js-scroll-ico-md-2 {
  width: 60px;
  height: 60px;
}

.what-gooc {
  display: none;
  position: fixed;
}

.spin {
  animation: spin 10s ease-in-out;
}

.swing {
  animation: swing 10s ease-in-out;
}

@keyframes spin {
  from {
    transform: none;
  }
  to {
    transform: rotate(10800deg);
  }
}
@keyframes swing {
  0% {
    transform: none;
  }
  50% {
    transform: translateX(-100px);
    transform: rotate(-30deg);
  }
  100% {
    transform: none;
  }
}
/* -----▼▼ NAVIGATION ▼▼----- */
/* NAVIGATION default ▼ */
.menu {
  display: none;
}

/* clicked NAVIGATION ▼ */
.js-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 550px;
  height: 200px;
  padding: 50px;
  animation: showingUp 1.2s ease-in-out;
  transition: padding 1s ease-in-out;
}

/* scroll NAVIGATION ▼ */
.js-scroll-menu {
  flex-direction: row;
  width: 1500px;
  height: 100px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  animation: showingUp2 1.2s ease-in-out;
}

/* -----▼▼ MENU-BTN ▼▼----- */
/* MENU-BTN animation▼ */
@keyframes AnmenuUp {
  0% {
    color: #101010;
  }
  50% {
    color: #101010;
  }
  100% {
    color: white;
  }
}

/* MENU-BTN default ▼ */

.menu__btn {
  color: white;
  font-size: 70px;
  transition: color 0.3s ease-in-out;
  outline: inherit;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 50px;
}

/* scroll MENU-BTN ▼ */
.js-scroll-menu__btn {
  font-size: 30px;
  margin-right: 20px;
}
.what {
  animation: AnmenuUp 1s ease-in-out;
}
.members {
  animation: AnmenuUp 1.2s ease-in-out;
}
.career {
  animation: AnmenuUp 1.4s ease-in-out;
}
.painting {
  animation: AnmenuUp 1.6s ease-in-out;
}
.coffin {
  animation: AnmenuUp 1.8s ease-in-out;
}

.menu__btn:hover {
  color: rgb(253, 186, 61);
}

/* -----▼▼ NAV-MAIN-BTN(X,=) ▼▼----- */
/* NAV-MAIN-BTN default ▼ */
.xbox {
  position: absolute;
  right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 20px;
  cursor: pointer;
  overflow: visible;
  transition: all 0.5s ease-in-out;
}

/* clicked MENU-BTN ▼ */
.xbox-click {
  width: 65px;
  height: 65px;
}
.xbox__rect {
  stroke: white;
  stroke-width: 3px;
  transform: translateX(0) translateY(0) rotate(0);
  transition: all 0.5s ease-in-out;
}
.changes-top {
  transform: translateX(60px) translateY(0) rotate(135deg);
}
.changes-bot {
  transform: translateY(-10px) translateX(25px) rotate(45deg);
}

/* scroll MENU-BTN ▼ */
.js-scroll-xbox {
  margin-top: 10px;
  transform: scale(0.8) translateY(25px);
  transition: all 0.5s ease-in-out;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@ */

.contents {
  top: 400px;
  width: 100%;
  height: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height 1s ease-in-out;
}
.js-contents {
  height: 1500px;
}

/* go to top button */

.to-top-btn {
  background-color: white;
  padding: 15px;
  border: none;
  outline: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05), 0 5px 5px 0 rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1;
  display: none;
}
