/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@ HEADER & MENU NAV @@@@@@@@@@@@*/
.header {
  width: 100%;
  height: 360px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 20px;
  margin: 20px;
  z-index: 10;
}
.menu {
  display: none;
}
.js-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 550px;
  height: 200px;
  padding: 50px;
}
@keyframes AnmenuUp {
  0% {
    color: #101010;
  }
  50% {
    color: #101010;
  }
  100% {
    color: white;
  }
}
.menu__btn {
  color: white;
  font-size: 70px;
  transition: color 0.3s ease-in-out;
  outline: inherit;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 50px;
}
.what {
  animation: AnmenuUp 1s ease-in-out;
}
.members {
  animation: AnmenuUp 1.2s ease-in-out;
}
.career {
  animation: AnmenuUp 1.4s ease-in-out;
}
.painting {
  animation: AnmenuUp 1.6s ease-in-out;
}

.what :hover {
  color: rgb(253, 186, 61);
}

.menu__btn:hover {
  color: rgb(253, 186, 61);
}

.ico-md-1,
.ico-md-2 {
  width: 130px;
  height: 130px;
  transition: all 0.5s ease-in-out;
  transition-delay: 0.4s;
}


/* navibar act */
.header.change {
  width: 100%;
  height: 360px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 20px;
  margin: 0px;
  z-index: 1000;
}
.ico-md-1.change, .ico-md-2.change {
  width: 30px;
  height: 30px;
  transition: all 0.5s ease-in-out;
  transition-delay: 0.4s;
  z-index: 1000;
}
.ico-gooc.change{
  height: 30px;
  margin: 20px 40px;
  display: flex;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
  z-index: 1000;
}
.xbox.change {
  margin-top: 20px;
  position: absolute;
  right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 20px;
  cursor: pointer;
  overflow: visible;
  z-index: 1000;
}
.titleName.change {
  font-family: "Recursive", sans-serif;
  color: white;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  transition: all 0.5s ease-in-out;
  z-index: 1000;
}
.menu__btn.change {
  color: white;
  font-size: 70px;
  transition: color 0.3s ease-in-out;
  outline: inherit;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 30px;
  z-index: 1000;
}
/*  */


.ico-gooc {
  margin: 20px 40px;
  display: flex;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
}
.ico-gooc:hover {
  transform: translateY(-10px);
}

.ico-gooc__column {
  display: flex;
}
.js-ico-md {
  width: 100px;
  height: 100px;
  transition-delay: 0.8s;
}

.titleName {
  font-family: "Recursive", sans-serif;
  color: white;
  font-size: 60px;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  transition: all 0.5s ease-in-out;
}
.js-titleName {
  margin-left: 20px;
}
.titleName::after {
  font-family: "Recursive", sans-serif;
  content: "Virtual World \A Architects Group";
  white-space: pre;
  color: gray;
  font-size: 15px;
  margin-left: 5px;
}

.xbox {
  position: absolute;
  right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 20px;
  cursor: pointer;
  overflow: visible;
}
.xbox-click {
  width: 65px;
  height: 65px;
}
.xbox__rect {
  stroke: white;
  stroke-width: 3px;
  transform: translateX(0) translateY(0) rotate(0);
  transition: all 0.5s ease-in-out;
}

.changes-top {
  transform: translateX(60px) translateY(0) rotate(135deg);
}

.changes-bot {
  transform: translateY(-10px) translateX(25px) rotate(45deg);
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/*@@@@@@@@@@@@@@ MEMBER__BOX & IMAGE @@@@@@@@@@@@@@@@@ */
.member__box {
  display: none;
  justify-content: space-between;
  top: 280px;
  z-index: -1;
  width: 50%;
}

.member__img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}



.member__box__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member__box__name {
  color: white;
  font-size: 30px;
}
.name-blank {
  margin-top: 20px;
}

.showing__up{
  animation: showingUp 1s ease-in-out;
}


@keyframes showingUp{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}



/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/*@@@@@@@@@@@@@@@@@@@@ WHAT__BOX @@@@@@@@@@@@@@@@@@@@ */

.contents {
  position: absolute;
  top: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}