.canvas__box {
  width: 800px;
  height: 600px;
  background: wheat;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
  display: none;
}

.canvas__box__column {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}

.canvas {
  width: 600px;
  height: 400px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.canvas__box__column .controls__color {
  width: 30px;
  height: 30px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  margin: 3px;
  border-radius: 50%;
  cursor: pointer;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  margin-left: 20px;
}

.canvas__box__column .controls__btns button {
  all: unset;
  cursor: pointer;
  background-color: white;
  padding: 5px 0px;
  width: 80px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
}

.canvas__box__column button {
  all: unset;
  cursor: pointer;
  background-color: white;
  padding: 5px 0px;
  width: 80px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 20px;
  margin-right: 10px;
}
.canvas__box__column .controls__btns button:active {
  transform: scale(0.98);
}
