* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: wheat;
}
.triangle{
  width: 0;
  height: 0;
  border-left: 320px solid transparent;
  border-right: 320px solid transparent;
  border-bottom: 500px solid green;
  display: flex;
  position: relative;
  margin-top: 33px;
  z-index: -1;
}
.box{
  width: 100px;
  height: 200px;
  background-color: brown;
  display: flex;
}
.clock {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(clock.png);
  background-size: cover;
  border: 5px solid black;
  border-radius: 50%;
  display: flex;
  position: absolute;
  background-color: white;
}

.clock::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: gainsboro;
  border: 2px solid white;
  z-index: 100000;
  border-radius: 50%;
}
.hour,
.min,
.sec {
  position: absolute;
}

.hour,
.hr {
  width: 130px;
  height: 100px;
}
.min,
.mn {
  width: 190px;
  height: 160px;
}
.sec,
.sc {
  width: 230px;
  height: 170px;
}

.hr,
.mn,
.sc {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}
.hr::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 60px;
  background-color: black;
  z-index: 10;
  border-radius: 6px 6px 0 0;
}
.mn::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 90px;
  background-color: black;
  z-index: 11;
  border-radius: 6px 6px 0 0;
}
.sc::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 120px;
  background-color: black;
  z-index: 12;
  border-radius: 6px 6px 0 0;
}
