@import "reset.css";

@import "css/sb_clock.css";
@import "css/sb_audio.css";
/* @import "css/sb_treebtn.css"; */
@import "css/sb_layer.css";
@import "css/sb_menu.css";
@import "css/sb_coffin.css";

@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Recursive", sans-serif;
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200vh;
  background-color: #101010;
}
